

<div class="topjui-fluid">
    <fieldset>
        <legend>必填信息</legend>
    </fieldset>
    <div class="topjui-row">
        <div class="topjui-col-sm12">
            <label class="topjui-form-label">名称</label>
            <div class="topjui-input-block">
                <input type="text" name="text" data-toggle="topjui-textbox" data-options="required:true,prompt:'必填字段'">
            </div>
        </div>
    </div>
    <div class="topjui-row">
        <div class="topjui-col-sm12">
            <label class="topjui-form-label">地址</label>
            <div class="topjui-input-block">
                <input type="text" name="url" data-toggle="topjui-textbox" data-options="required:true,prompt:'必填字段'">
            </div>
        </div>
    </div>
    <div class="topjui-row">
        <div class="topjui-col-sm12">
            <label class="topjui-form-label">状态</label>
            <div class="topjui-input-block" style="padding-top: 4px;">
                <input name="status" data-toggle="topjui-radiobutton" data-options="value:'1',label:'开启',labelPosition:'after',checked:true">
                <input name="status" data-toggle="topjui-radiobutton" data-options="value:'2',label:'关闭'">

            </div>
        </div>
    </div>
    <div class="topjui-row">
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">图标</label>
            <div class="topjui-input-block">
                <input type="text" name="icon_cls" data-toggle="topjui-textbox"
                       data-options="required:true,prompt:'必填字段'">

            </div>
        </div>
    </div>
    <div class="topjui-row">
        <div class="topjui-col-sm6">
            <label class="topjui-form-label">排序</label>
            <div class="topjui-input-block">
                <input type="text" name="menu_sort" value="1" data-toggle="topjui-numberbox"
                       data-options="required:true,prompt:'必填字段'">

            </div>
        </div>
    </div>

</div>
