

<!-- layout布局 开始 -->

<div data-toggle="topjui-layout" data-options="fit:true">
    <div data-options="region:'center',title:'',fit:true,split:true,border:false">
        <!-- datagrid表格 -->
        <table data-toggle="topjui-treegrid"
               data-options="id:'productDg',
        idField:'id',
        treeField:'name',
        url:'../classify/list.html?type=json&id=0',
        expandUrl:'../classify/list.html?type=json&id={id}',
        fitColumns:true">
            <thead>
            <tr>

                <th data-options="field:'id',title:'ID',checkbox:false,width:100"></th>
                <th data-options="field:'name',title:'名称',width:200"></th>
                <th data-options="field:'des',title:'描述',width:200"></th>
                <th data-options="field:'img',title:'图片',formatter: function(value,row,index){
                    if (value == ''){
                        return '-';
                    } else {
                        return '<img src=\''+value+'\' style=\'max-width:100px;max-height:100px;\'>';
                    }
			    }"></th>

                <th data-options="field:'pid',title:'父级编号',width:100"></th>

                <th data-options="field:'sort',title:'排序',width:100"></th>

                <th data-options="field:'status',title:'状态',width:100,formatter:function(value,row,index){
                    if (value == '1'){
                        return '开启';
                    } else if (value == '2'){
                        return '关闭';
                    } else {
                        return '-';
                    }
			    }"></th>
                <th data-options="field:'operate',title:'操作',formatter:operateFormatter,width:80"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!-- layout布局 结束 -->


<!-- 表格工具栏开始 -->
<div id="productDg-toolbar" class="topjui-toolbar"
     data-options="grid:{
           type:'datagrid',
           id:'productDg'
       }">
    <a href="javascript:void(0)"
       data-toggle="topjui-menubutton"
       data-options="method:'openDialog',
       extend: '#productDg-toolbar',
       iconCls: 'fa fa-plus',
       dialog:{
           id:'userAddDialog',
           title:'新增文章分类',
           href:_ctx + '../../admin/classify/add.html',
           buttonsGroup:[
               {text:'保存',url:_ctx + '../../admin/classify/save.html',iconCls:'fa fa-plus',handler:'ajaxForm',btnCls:'topjui-btn-green'}
           ]
       }">新增</a>


</div>
<!-- 表格工具栏结束 -->
<script>


    function progressFormatter(value, row, index) {
        var htmlstr = '<div id="p" class="topjui-progressbar progressbar" data-options="value:' + value + '" style="width: 398px; height: 26px;">';
        htmlstr += '<div class="progressbar-text" style="width: 398px; height: 26px; line-height: 26px;">' + value + '%</div>';
        htmlstr += '<div class="progressbar-value" style="width: ' + value + '%; height: 26px; line-height: 26px;">';
        htmlstr += '</div>';
        htmlstr += '</div>';
        return htmlstr;
    }

    function operateFormatter(value, row, index) {
        var htmlstr = '<button class="layui-btn layui-btn-xs" onclick="openEditDiag(\'' + row.id + '\')">编辑</button>';
        htmlstr += '<button class="layui-btn layui-btn-xs layui-btn-danger" onclick="deleteRow(\'' + row.id + '\')">删除</button>';
        return htmlstr;
    }

    function openEditDiag(uuid) {
        var $editDialog = $('<form  id="myDialog" method="get"></form>'); // 创建form表单元素
        $editDialog.iDialog({
            title: '编辑数据',
            width: 950,
            height: 500,
            closed: false,
            cache: false,
            href: _ctx + '../../admin/classify/edit.html?type=html&id=' + uuid,
            modal: true,
            buttons: [{
                text: '保存',
                iconCls: 'fa fa-save',
                btnCls: 'topjui-btn-blue',
                handler:ajaxSubmit // 调用下面自定义方法ajaxSubmit()
            }, {
                text: '关闭',
                iconCls: 'fa fa-close',
                btnCls: 'topjui-btn-red',
                handler: function () {
                    $editDialog.iDialog('close');
                }
            }],
            onLoad: function () {

                //加载表单数据
                $.getJSON(_ctx + '../../admin/classify/edit.html?id=' + uuid, function (data) {
                    $editDialog.form('load', data);
                    //console.log(data);
                    if(data.access != "") {
                        szxx = data.access.split(',');
                        $("[name='ids[]']").each(function () {
                            if (szxx.indexOf($(this).val()) > -1) {

                                $('#menuTg').datagrid('checkRow',$(this).val());

                            }
                        })
                    }
                });

            }
        });
    }
    function ajaxSubmit() {

        // 2 提交
        // 2.1 方式一 上面 $('<form ></form>')
        if($('#myDialog').form('validate')) {
            var formData = $("#myDialog").serialize();
            var url = _ctx + '../../admin/classify/save.html';
            $.post(url,formData,function (res) {
                if (res.statusCode == 200) { // 后台返回状态值
                    $.iMessager.show({title: '我的消息', msg: res.message, timeout: 5000, showType: 'slide'});// '消息窗口'组件
                    //$("#productDg").iDatagrid('reload');// 刷新下表格数据
                    $("#productDg").iTreegrid('reload');// 刷新下表格数据
                    $('#myDialog').dialog('destroy');// 销毁dialog面板
                } else {
                    $.iMessager.show({title: '我的消息', msg: res.message, timeout: 5000, showType: 'slide'});// '消息窗口'组件
                }
            },'JSON')
        }


    }

    function deleteRow(uuid) {
        $.iMessager.confirm('确认对话框', '您确定删除所选的数据？', function (r) {
            if(r){
                var postData = { id: uuid}; // 请求中携带的JSON数据
                var url =  _ctx + '../../admin/classify/del.html';//请求的地址
                $.post(url,postData,function (res) {
                    $.iMessager.show({title: '我的消息', msg: res.message, timeout: 5000, showType: 'slide'});// '消息窗口'组件
                    if(res.statusCode == 200){
                        //$("#productDg").iDatagrid('reload');//请求成功后刷新表格
                        $("#productDg").iTreegrid('reload');// 刷新下表格数据
                    }
                },"JSON")
            }
        });
        // $.iMessager.alert('操作提示', '请根据具体情况编写代码，如ajax删除请求，请求失败提示，请求成功提示，请求成功后刷新表格等！', 'messager-info');
    }

    // 自定义方法
    function myQuery() {
        // 提示信息
        $.iMessager.alert('自定义方法', '自定义方法被执行了！', 'messager-info');

        var checkedRows = $('#productDg').iDatagrid('getChecked');
        console.log(checkedRows);

        var selectedRow = $('#productDg').iDatagrid('getSelected');
        console.log(selectedRow);

        // 提交参数查询表格数据
        $('#productDg').iDatagrid('reload', {
            name: $('#name').iTextbox('getValue'),
            code: $('#code').iTextbox('getValue')
        });
    }

</script>